In [2]:
import mysql.connector

In [6]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

xyz = mydb.cursor()

xyz.execute("CREATE DATABASE Bishal")

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password=""
)

xyz = mydb.cursor()

xyz.execute("SHOW DATABASES")

for x in xyz:
    print(x)

('bishal',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('sit_ece',)
('test',)

In [1]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

sql = "INSERT INTO students_info (Name, Roll, Address, Age, Gender) VALUES (%s, %s, %s, %s, %s)"
val1 = (input("Enter The First Value = > "))
val2 = (input("Enter The Second Value = > "))
val3 = (input("Enter The Third Value = > "))
val4 = (input("Enter The Fourth Value = > "))
val5 = (input("Enter The Fifth Value = > "))

val = (val1, val2, val3, val4, val5)
xyz.execute(sql, val)

mydb.commit()

print(xyz.rowcount, "record inserted.")

1 record inserted.

In [2]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

xyz.execute("SELECT * FROM students_info")

myresult = xyz.fetchall()

for x in myresult:
  print(x)

('bishal', '10', 'slg', '19', 'male')
('rohan', '2', 'slg', '19', 'trans')
('xyz', '21', 'kolkata', '20', 'male')
('bcd', '12', 'sdvm sv', '18', 'mnbdv')

In [3]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

xyz.execute("SELECT Name, Address FROM students_info")

myresult = xyz.fetchall()

for x in myresult:
  print(x)

('bishal', 'slg')
('rohan', 'slg')
('xyz', 'kolkata')
('bcd', 'sdvm sv')

In [7]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

xyz.execute("SELECT * FROM students_info")

myresult = xyz.fetchone()

print(myresult)

('bishal', '10', 'slg', '19', 'male')

In [8]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

sql = "SELECT * FROM students_info WHERE Address ='slg'"

xyz.execute(sql)

myresult = xyz.fetchall()

for x in myresult:
  print(x)

('bishal', '10', 'slg', '19', 'male')
('rohan', '2', 'slg', '19', 'trans')

In [9]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

sql = "SELECT * FROM students_info WHERE Address Like '%kata%'"

xyz.execute(sql)

myresult = xyz.fetchall()

for x in myresult:
  print(x)

('xyz', '21', 'kolkata', '20', 'male')

In [24]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

sql = "SELECT * FROM students_info WHERE Address = %s"
adr = ("kolkata")

xyz.execute(sql,adr)

myresult = xyz.fetchall()

for x in myresult:
  print(x)

ProgrammingError: Could not process parameters: str(kolkata), it must be of type list, tuple or dict

In [23]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  password="",
  database="bishal"
)

xyz = mydb.cursor()

sql = "DELETE FROM students_info WHERE Name = 'bcd'"

xyz.execute(sql)

mydb.commit()

print(xyz.rowcount, "record(s) deleted")

1 record(s) deleted