In [1]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")

mydb = myclient["mydatabase"]

In [2]:
print(myclient.list_database_names())

['admin', 'config', 'local']

In [3]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

In [4]:
print(mydb.list_collection_names())

[]

In [6]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [7]:
mydict = { "name": "Peter", "address": "Lowstreet 27" }

x = mycol.insert_one(mydict)

print(x.inserted_id)

63f893c804cdaac5c9dcbcc6

In [8]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
print(x.inserted_ids)

[ObjectId('63f8944f04cdaac5c9dcbcc8'), ObjectId('63f8944f04cdaac5c9dcbcc9'), ObjectId('63f8944f04cdaac5c9dcbcca'), ObjectId('63f8944f04cdaac5c9dcbccb'), ObjectId('63f8944f04cdaac5c9dcbccc'), ObjectId('63f8944f04cdaac5c9dcbccd'), ObjectId('63f8944f04cdaac5c9dcbcce'), ObjectId('63f8944f04cdaac5c9dcbccf'), ObjectId('63f8944f04cdaac5c9dcbcd0'), ObjectId('63f8944f04cdaac5c9dcbcd1'), ObjectId('63f8944f04cdaac5c9dcbcd2'), ObjectId('63f8944f04cdaac5c9dcbcd3')]

In [9]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

mylist = [
  { "_id": 1, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)
print(x.inserted_ids)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [10]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

x = mycol.find_one()

print(x)

{'_id': ObjectId('63f8927604cdaac5c9dcbcc3'), 'name': 'John', 'address': 'Highway 37'}

In [11]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find():
  print(x)

{'_id': ObjectId('63f8927604cdaac5c9dcbcc3'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f892b404cdaac5c9dcbcc5'), 'name': 'John', 'address': 'Highway 37'}
{'_id': ObjectId('63f893c804cdaac5c9dcbcc6'), 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcc8'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcc9'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcca'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccb'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccc'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcce'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd1'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd2'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 1, 'name': 'John', 'address': 'Highway 37'}
{'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}
{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 6, 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 9, 'name': 'Susan', 'address': 'One way 98'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 12, 'name': 'William', 'address': 'Central st 954'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}

In [12]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
  print(x)

{'name': 'John', 'address': 'Highway 37'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}
{'name': 'John', 'address': 'Highway 37'}
{'name': 'Peter', 'address': 'Lowstreet 27'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [13]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({}, {"address" : 0}):
    print(x)

{'_id': ObjectId('63f8927604cdaac5c9dcbcc3'), 'name': 'John'}
{'_id': ObjectId('63f892b404cdaac5c9dcbcc5'), 'name': 'John'}
{'_id': ObjectId('63f893c804cdaac5c9dcbcc6'), 'name': 'Peter'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcc8'), 'name': 'Amy'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcc9'), 'name': 'Hannah'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcca'), 'name': 'Michael'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccb'), 'name': 'Sandy'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccc'), 'name': 'Betty'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccd'), 'name': 'Richard'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcce'), 'name': 'Susan'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccf'), 'name': 'Vicky'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd0'), 'name': 'Ben'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd1'), 'name': 'William'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd2'), 'name': 'Chuck'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd3'), 'name': 'Viola'}
{'_id': 1, 'name': 'John'}
{'_id': 2, 'name': 'Peter'}
{'_id': 3, 'name': 'Amy'}
{'_id': 4, 'name': 'Hannah'}
{'_id': 5, 'name': 'Michael'}
{'_id': 6, 'name': 'Sandy'}
{'_id': 7, 'name': 'Betty'}
{'_id': 8, 'name': 'Richard'}
{'_id': 9, 'name': 'Susan'}
{'_id': 10, 'name': 'Vicky'}
{'_id': 11, 'name': 'Ben'}
{'_id': 12, 'name': 'William'}
{'_id': 13, 'name': 'Chuck'}
{'_id': 14, 'name': 'Viola'}

In [14]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

for x in mycol.find({}, {"name" : 0}):
    print(x)

{'_id': ObjectId('63f8927604cdaac5c9dcbcc3'), 'address': 'Highway 37'}
{'_id': ObjectId('63f892b404cdaac5c9dcbcc5'), 'address': 'Highway 37'}
{'_id': ObjectId('63f893c804cdaac5c9dcbcc6'), 'address': 'Lowstreet 27'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcc8'), 'address': 'Apple st 652'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcc9'), 'address': 'Mountain 21'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcca'), 'address': 'Valley 345'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccb'), 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccc'), 'address': 'Green Grass 1'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccd'), 'address': 'Sky st 331'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcce'), 'address': 'One way 98'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccf'), 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd0'), 'address': 'Park Lane 38'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd1'), 'address': 'Central st 954'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd2'), 'address': 'Main Road 989'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd3'), 'address': 'Sideway 1633'}
{'_id': 1, 'address': 'Highway 37'}
{'_id': 2, 'address': 'Lowstreet 27'}
{'_id': 3, 'address': 'Apple st 652'}
{'_id': 4, 'address': 'Mountain 21'}
{'_id': 5, 'address': 'Valley 345'}
{'_id': 6, 'address': 'Ocean blvd 2'}
{'_id': 7, 'address': 'Green Grass 1'}
{'_id': 8, 'address': 'Sky st 331'}
{'_id': 9, 'address': 'One way 98'}
{'_id': 10, 'address': 'Yellow Garden 2'}
{'_id': 11, 'address': 'Park Lane 38'}
{'_id': 12, 'address': 'Central st 954'}
{'_id': 13, 'address': 'Main Road 989'}
{'_id': 14, 'address': 'Sideway 1633'}

In [15]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address" : "Park Lane 38"}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63f8944f04cdaac5c9dcbcd0'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}

In [17]:
import pymongo

myclient = pymongo.MongoClient("mongodb://localhost:27017/")
mydb = myclient["mydatabase"]
mycol = mydb["customers"]

myquery = {"address" : {"$gt" : "S"}}

mydoc = mycol.find(myquery)

for x in mydoc:
    print(x)

{'_id': ObjectId('63f8944f04cdaac5c9dcbcca'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccd'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbccf'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f8944f04cdaac5c9dcbcd3'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': 5, 'name': 'Michael', 'address': 'Valley 345'}
{'_id': 8, 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': 10, 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': 14, 'name': 'Viola', 'address': 'Sideway 1633'}